body {
    font-family: 'Open Sans';font-size: 22px;
    min-width: 500px;
}

main {
    padding: 0px 20px 0px 20px;
}

h1, h3 {
    text-align: center;
}

h4 {
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}

#contenido {
    margin: 40px;
}

#contenido p {
    margin: 7px 0px 7px 0px;
    color: #4a4a4a;
    text-align: justify;
}

#codigo h4 {
    margin-bottom: 20px;
}

.CodeMirror {
    border: 1px solid lightgray;
    font-size: 18px;
    resize: vertical;
}

#ejecutar-codigo {
    margin: 10px 0px 10px 0px;
    background-color: forestgreen;
    border-radius: 2px;
    font-size: 20px;
    border: 0px;
    height: 40px;
}

#restablecer-codigo {
    margin: 10px 0px 10px 0px;
    background-color: orange;
    border-radius: 2px;
    font-size: 20px;
    border: 0px;
    height: 40px;
}

#graficas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*
Esto es solamente mientras usamos esta plataforma,
probablemente lo terminemos quitando.
*/
@media (max-width: 900px) {
    h1 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    p, li {
        font-size: 16px;
    }

    .CodeMirror {
        font-size: 15px;
    }
}